/* In your CSS module (styles.module.css) */
/* .layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0aad0a98;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.4s;
    border-radius: 10px;
    color: black;
} */

img {
    border-radius: 10px;
}
.item:hover .layer
{
    opacity: 1;
}

.item:hover
{
    transform: scale(1.09);
}


.item
{
    border-radius: 10px;
    transition: all 0.4s;
    border: #0aad0a98 1px solid;
}

.item:hover img {
    opacity: 1;
    filter: grayscale(40%);
    
}

.layer h3 {
    color: white;
}